html, body {
    color: white;
    font-family: 'Karla', sans-serif !important;
    background: #f5f5f5;
    margin: 0;
}

h1 {
    font-size: 6vw;
    font-display: underline;
    padding: 0;
    
    margin: 0;
    margin-bottom: 0;
}

.FindOutMoreLink {
    background: #01579b;
    border: none;
    border-radius: 10px 10px;
    width: 15vw;
    height: 5vh;
    display: flex;
 
    justify-content: center;
    align-items: center;
    color: white;
    
    text-decoration: none;
}

h2 {

    font-size: 2rem;
    
}

h3 {

    margin: 5px;
    font-size: 2rem;
}

p {
    margin: 0;
    
    font-weight: 300;
    font-size: 1vw;
 
}

.navbar {
    background: rgba(0,0,0,0.3);

    display: block;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    overflow: hidden;

  }

  .navbar li {
float: left;
}

.navbar li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

#fp-nav ul li a span{
    background: white !important;
  }

.navbar li a:hover {
    background-color: #111;
  }

.section {
    background: rgb(26, 153, 238);
   
    justify-content: center;
    align-items: center;
    display: flex;
}

section {
   

}

.StepByStepContainer {
    color: #01579b;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
    height: 100%;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LandingPageContainer {
    background-image: url("../img/IMG_0009.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50vh;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;

}

.PageContainer {
    width: 40vw;
    height: 70vh;

    


}

.SkinnyTextSection {
    width: 50%;
    height: auto;
   
    text-align: center;

}

.SkinniestPageContainer {
    width: 100vw;

    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color:  #004F8C

}

.SkinnyPageContainer {
    width: 100vw;
    height: 35vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
 
    background:  #004F8C;
}

.MediumTextSection {
    width: 20%;

    margin-top: 5%;
    height: auto;
    text-align: left;

}

.MediumPageContainer {
   
    width: 100vw;
   
    height: 75vh;
    display: flex;
    justify-content: center;
    
    color: #004F8C;
}

.MediumPageContainer img {
    margin-top: 5%;
    margin-left: 30%;
    border-radius: 50px;
    height: 70%;
}

.LargePageContainer {
    width: 100vw;
    height: auto;

    color: #004F8C;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.MediumImageContainer {
    
   
    width: 40vw;
    

}

.LargeImageContainer {
    margin-left: 10%;
    margin-right: 10%;
    
    width: 40vw;
    height: 10%;

}




.responsive {
    max-width: 100%;
    height: auto;
    
}

.LargePageTextSection {
    width: 30%;
    height: auto;

}



.FooterGroup {
   
    margin-right: 10%;

}


.Icon {
    padding: 10px;
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.OddStep {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
 
}



.IconsContainer {

   
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

  @media screen and (max-width: 1400px) {
    h1 {
       font-size: 3vw;
    }

    p {

        font-size: 1.5vw;
    };
  }

  
  @media screen and (max-width: 1000px) {
    h1 {
       font-size: 5vw;
    }

    p {

        font-size: 1.5vw;
    };
  }

  @media screen and (max-width: 600px) {
    h1 {
       font-size: 6vw;
    }

    p {
        color: red;
        font-size: 4vw;
    };
  }
